body {
  margin: 0;
  font-family: "Roboto Condensed", Roboto, "Segoe UI", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
}

h1 {
  font-family: "Cabin Sketch", "Roboto Condensed", Roboto, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 4.5rem;
}

code {
  font-family: "Fira Code", Consolas, source-code-pro, Menlo, Monaco,
    "Courier New", monospace;
}
